table, th, td {
    border: 1px solid black;
}

thead {
    color: green;
}

tbody {
    color: black;
}

dt img {
    width: 30px;
    height: 30px;
}
#html-logo {
    float: right;
    width: 200px;
    height: 200px;
}

#free-logo {
    float: left;
    width: 120px;
    height: 120px;
    padding-right: 20px;
    padding-bottom: 20px;
}
