q {
    quotes: "„" "”" "»" "«" "„" "”" "»" "«";
}

p {
 text-indent: 2rem;
}

::selection {
    background-color: burlywood;
    color: white;
}
tr:nth-child(2n+1) td:nth-child(2n+1) {
    background-color: darkgray;
}

tr:nth-child(2n) td:nth-child(2n) {
    background-color: rgba(24,20,27,0.33);
}

p:hover, q:hover, li:hover, tr:hover {
    background-color: rgba(183,138,255,0.12);
}

tr:hover td:hover {
    background-color: antiquewhite;
}